.navbar {
  background-color: #5fe85a!important;
  color: white !important;
  min-height: 3.25rem;
}

.navbar-item {
  color: white !important;
  background-color: #5fe85a!important;
  display: flex;
  align-items: center;
}

.navbar-item:not(.g-brand):hover {
  background-color: #4fbc4b!important;
  color: white !important;
}

.navbar,
.navbar-start {
  display: flex;
  align-items: stretch;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

@media only screen and (max-width: 425px) {
  .navbar {
    min-height: 3.50rem;
  }
}