<nav class="breadcrumb">
    <ul>
        <li class="is-active"><a href="#!/">Home</a></li>
    </ul>
</nav>

<div class="column is-4 is-offset-4">
    <figure class="image is-128x128" style="margin: 0 auto 25px;">
        <img src="{{orgInfo.logo}}" alt="Grammarer">
    </figure>
    <div class="box">
        <h3 class="title has-text-centered tk-rigid-square">Welcome to Grammarer!</h3>
        <p class="subtitle has-text-grey has-text-centered">Enter your access code to continue</p>
    
        <div class="notification is-danger" ng-if="problem">
            {{message}}
        </div>

        <label for="g-cohort">Cohort</label>
        <br/>
        <div class="select is-medium" style="width: 100%; margin-bottom: 10px;">
            <select id="g-cohort" ng-model="cohort" style="width:100%;">
                <option ng-repeat="c in cohorts" ng-value="c.name">{{c.name}}</option>
            </select>
        </div>

        <label for="g-code">Code</label>
        <input id="g-code" class="input is-medium" type="text" placeholder="Code..." ng-model="code" maxlength="7">
    
        <div class="has-text-centered" style="margin-top:15px">
            <button class="button is-primary is-centered is-medium" style="width: 100%;" ng-click="auth()" id="go">Go!</button>
        </div>

        <p class="subtitle has-text-grey has-text-centered" style="margin-top: 10px;">{{orgInfo.name}}</p>
    </div>
    <p class="has-text-grey has-text-centered">For optimal functionality, don't use Edge or IE.<br>Grammarer works best in Chrome.</p>
    <div style="position: fixed; bottom: 0; right: 0; left: 0; padding: 10px 0; background: white; z-index: 4;" class="has-text-grey has-text-centered">
        <p>
            <a href="https://github.com/palkerecsenyi/grammarer" target="_blank">
                Grammarer
            </a> |
            Latest version
            <a href="{{gmRelease.html_url}}" target="_blank">
                {{gmRelease.tag_name}}
            </a> |
            This version
            <a href="https://github.com/palkerecsenyi/grammarer/releases/tag/v{{config.gmVersion}}" target="_blank">
                v{{config.gmVersion}}
            </a>
        </p>
        <p>Copyright © 2018 Pal Kerecsenyi.</p>
    </div>
</div>