<nav class="breadcrumb">
    <ul>
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/lists">Lists</a></li>
        <li><a href="#!/admin">Magic Dashboard</a></li>
        <li class="is-active"><a href="#!/admin/tables">List manager</a></li>
    </ul>
</nav>

<p class="title is-3 tk-rigid-square">List manager</p>
<p>This page enables admins and teachers to manage lists and create them using the Grammarer Table Builder.</p>

<hr/>

<button class="button is-medium is-primary" style="margin-bottom:10px;" ng-click="listInsert()">Add new!</button>

<div class="g-table-container">
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Language</th>
                <th>Name</th>
                <th>Type</th>

                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="list in lists">
                <td><code>{{list.identifier}}</code></td>
                <td>{{list.language}}</td>
                <td><strong>{{list.title || "Checklist "+list.number}}</strong></td>
                <td>{{list.type}}</td>
                <td><button class="button is-danger" ng-click="listDelete($event, list.identifier)">Delete</button></td>
                <td><button class="button is-primary" ng-click="listEdit($event, list.identifier)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" ng-class="{'is-active': modal.show}">
    <div class="modal-background" ng-click="modal.show = false"></div>
    <div class="modal-card" style="width: unset;">
        <header class="modal-card-head">
            <p class="modal-card-title">Add new grammar list</p>
            <button class="delete" aria-label="close" ng-click="modal.show = false"></button>
        </header>
        <section class="modal-card-body">
            <div class="g-table-container">
                <table id="table">
                    <thead>
                        <tr class="g-row g-fixed">
                            <th ng-repeat="column in modal.table.head track by $index" ng-dblclick="listDblclick($event)">{{column}}</th>
                            <th><button class="button is-primary" ng-click="addC()">+ Column</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in modal.table.rows track by $index" class="g-row g-fluid">
                            <th class="g-cell" ng-dblclick="listDblclick($event)">{{row.first}}</th>
                            <td ng-repeat="cell in row.cells track by $index" class="g-content g-cell" ng-dblclick="listDblclick($event)">{{cell}}</td>
                        </tr>
                        <tr>
                            <td><button class="button is-primary" ng-click="addR()">+ Row</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" ng-click="listSave()">Save changes</button>
            <button class="button" ng-click="modal.show = false">Cancel</button>
        </footer>
    </div>
</div>